<div class="social">
  <ul class="social-links">
		{% if site.github %}
      <li><a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a></li>
			{% endif %}

			{% if site.twitter %}
      <li><a href="http://twitter.com/{{ site.twitter }}"><i class="fa fa-twitter"></i></a></li>
			{% endif %}

			{% if site.linkedin %}
      <li><a href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
			{% endif %}

			{% if site.instagram %}
      <li><a href="http://instagram.com/{{ site.instagram }}"><i class="fa fa-instagram"></i></a></li>
			{% endif %}
  </ul>
</div>
